:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 2rem 1rem;
  background-color: #f3f4f6;
}

@media (min-width: 768px) {
  main {
    padding: 2rem 4rem;
  }
}

